.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tick-group line {
  stroke: #EFECEA;
}
.tick-group text, .axis-label {
  fill: #8E8883;
}

.main-shape text {
  fill: #635F5D;
}

.histogram .title, .scatter-plot .title {
  font-size: 2.2em;
  padding-left: 22px;
}

svg {
  vertical-align: top;
}

.header {
  display: flex;
  justify-content: space-between;
}