html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #EFECEA;
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
